name: Test deployment

# 如果你想要进一步定义触发条件、路径等，可以查看文档
# https://docs.github.com/cn/actions/using-workflows/workflow-syntax-for-github-actions#on
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  test-deploy:
    name: Test deployment
    defaults:
      run:
        working-directory: ./docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci
      - name: Test build website
        run: npm run build
